/* -- NavBar Stylezzz */ 

.navbar { 
    text-transform: uppercase;
    font-weight: bold;
    font-size: .9rem;
    letter-spacing: .1rem;
    background: rgba(0, 0, 0, .6)!important;
}

/* Home Page */
#home { 
    background-color: salmon;
    background-size: 100vh;
}

.hello { 
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* About Me */

#aboutMe { 
    background-color: salmon;
    background-size: 100vh;
}

.aboutMeHead { 
    position: absolute;
    text-align: top center;
}