/* -- NavBar Stylezzz */ 

.navbar { 
    text-transform: uppercase;
    font-weight: bold;
    font-size: .9rem;
    letter-spacing: .1rem;
    background: rgba(0, 0, 0, .6)!important;
}

/* Home Page */
#home { 
    background: url(goran-ivos-idmvPhF8t4E-unsplash.jpg) no-repeat center center fixed;
    display: table;
    height: 100%;
    position: relative;
    width: 100%;
    background-size: cover;
}

.landing-text { 
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.landing-text h1 { 
    font-size: 5rem;
    font-weight: 500;
}

/* About Me Page */

#profilePic img { 
    width: 13rem;
    height: 17rem;
    position: absolute;
}